{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="table-responsive">
  <!--Table-->
  <table class="table table-striped">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Device IP</th>
        <th>Location</th>
        <th>Logs</th>

       
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1232.3432432.212</td>
        <td>COCIS</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet et sapien sit amet ullamcorper. Nullam accumsan risus vel ante luctus, id accumsan felis tristique. Fusce at sem nec sapien ultrices mollis. Sed tempor cursus urna, quis hendrerit lorem condimentum vel. Donec tempor viverra massa. Donec ligula mauris, aliquet in finibus in, sodales suscipit eros. Phasellus ornare tempus arcu, non lobortis urna tristique ac. Pellentesque congue vitae nunc non viverra.</td>
      </tr>
      
      
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>

{% endblock content %}